body {
  background: url("../images/bg.jpg") no-repeat top center;
  font-family: "Roboto", sans-serif;
}

.title {
  margin-top: -50px;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #fff;
  color: #527c33;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  /* float: right; */
  margin-top: 30px;
}

.button:hover {
  background-color: #eee;
}

.form-check-input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 10px;
}

@media (min-width: 992px) {
  .title {
    margin-top: -150px;
  }

  .button {
    font-size: 54px;
    padding: 10px 50px;
  }
}
