/* CSS GERAL*/
html,
body {
  height: 100%;
}

/* .font-face {
  font-family: "Vonique 43";
  src: url(../fonts/Vonique43F.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

body {
  background: url('../images/bg.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin: 20px;
}

/* CSS para o botão INICIAR */
.btn-start {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  background-color: #dfdcdc;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.btn-start>a {
  font-size: 20px;
  color: #527c33;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-start:hover {
  background-color: #d1cccc;
}

/* CSS para o botão Retornar */
.btn-return {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  background-color: #dfdcdc;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.btn-return>a {
  font-size: 20px;
  color: #527c33;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-return:hover {
  background-color: #d1cccc;
}

/* Questions and Answers */
#question {
  margin-bottom: 30px;
  font-size: 25px;
}

.answer::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.answer {
  color: #fff;
  display: block;
  background-color: transparent;
  border: none;
  font-size: 22px;
  text-align: left;
  margin-bottom: 10px;
}

.termometro {
  margin-top: -50px;
}

#result {
  display: none;
  font-size: 21px;
  color: #fff;
  height: 500px;
  margin-top: 30px;
  position: relative;
  overflow: auto;
  line-height: 35px;
}

#pointer {
  position: absolute;
  width: 72px;
  height: 121px;
  top: 50%;
  left: 50%;
  background: url(../images/ponteiro.png) 0 0 repeat;
}

#pointer.deg-90 {
  margin-left: -60.5px;
  margin-top: -36px;
  transform: rotate(-90deg);
}

#pointer.deg-45 {
  margin-left: -50px;
  margin-top: -50px;
  transform: rotate(-45deg);
}

#pointer.deg45 {
  margin-left: -20px;
  margin-top: -50px;
  transform: rotate(45deg);
}

#pointer.deg90 {
  margin-top: -36px;
  margin-left: -10px;
  transform: rotate(90deg);
}


/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .titulo {
    margin-top: -80px;
  }

  .termometro {
    margin-top: -80px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn-start>a {
    font-size: 54px;
  }

  .titulo {
    margin-top: -180px;
  }

  .termometro {
    margin-top: -180px;
  }
}

@media (max-width: 576px) {
  .answer {
    font-size: 16px;
  }

  .answer::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
  }

  #question {
    font-size: 18px;
  }

  .btn-start {
    padding: 8px 16px;
    font-size: 14px;
  }

  .btn-return {
    padding: 8px 16px;
    font-size: 14px;
  }

  #pointer {
    margin-bottom: 40px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}