html,
body {
  height: 100%;
}

@font-face {
  font-family: "Vonique 43";
  src: url(../fonts/Vonique43F.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: url('../images/bg.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Vonique 43', sans-serif;
  color: #fff;
  margin: 20px;
}

.btn-start {
  padding: 10px 20px 0 20px;
  background-color: #fff;
}

.transition-question {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.btn-start>a {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: #527c33;
  text-decoration: none;
}

.btn-start:hover {
  background-color: #eee;
}

.btn-return {
  padding: 10px 20px 0 20px;
  background-color: #fff;
}

.btn-return>a {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: #527c33;
  text-decoration: none;
}

.btn-return:hover {
  background-color: #eee;
}

/* Questions and Answers */
#question {
  margin-bottom: 30px;
  font-family: 'Vonique 43', sans-serif;
}

.answer::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.answer {
  font-family: 'Vonique 43', sans-serif;
  color: #fff;
  display: block;
  background-color: transparent;
  border: none;
  font-size: 25px;
  text-align: left;
  margin-bottom: 10px;
}

.termometro {
  margin-top: -50px;
}

#result {
  display: none;
  font-size: 21px;
  color: #fff;
  height: 500px;
  margin-top: 30px;
  position: relative;
  overflow: auto;
  line-height: 35px;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .titulo {
    margin-top: -80px;
  }

  .termometro {
    margin-top: -80px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn-start>a {
    font-size: 54px;
  }

  .titulo {
    margin-top: -180px;
  }

  .termometro {
    margin-top: -180px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}