/* Base Styles */
body {
  background: url('../images/bg.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  margin-top: -50px;
}

.none {
  display: none;
}

.button-container {
  text-align: right;
}

.underlined {
  text-decoration: underline;
}

.transition-question {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #fff;
  color: #527c33;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  margin-left: auto;
  margin-top: 30px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #eee;
}

/* Result Display */
#result {
  font-family: 'OCR A Std', monospace;
  display: none;
  font-size: 36px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 30px;
}

/* Questions and Answers */
#question {
  margin-bottom: 30px;
}

.answer::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.answer {
  color: #fff;
  display: block;
  background-color: transparent;
  border: none;
  font-size: 25px;
  text-align: left;
  margin-bottom: 10px;
}

/* Return Button */
#return-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#returnBtn {
  padding: 10px 30px;
  background-color: #fff;
  color: #1a2b0f;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
}

#returnBtn:hover {
  background-color: #eee;
}

/* Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .title {
    margin-top: -150px;
  }

  .button {
    font-size: 54px;
    padding: 10px 50px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .title {
    margin-top: -150px;
  }

  .button {
    font-size: 54px;
    padding: 10px 50px;
  }
}